In [ ]:
# ДЗ №1 по ML 
# Предсказать параметр MEDV из датасета housing.csv:
# 1 - модель линейной регрессии
# 2 - разбить train/test на 0.8/0.2

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
random_seed = 123

In [5]:
df = pd.read_csv('housing.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [7]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
df.isna().sum().sum()

0

In [9]:
# Значения по оси X
df.drop('MEDV', axis=1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [10]:
# Значения по оси Y
df['MEDV']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [14]:
# разбиваем на тренировочный сет и на тестовый сет в отношении 0.8/0.2 соответственно
X_train, X_test, y_train, y_test = train_test_split(df.drop('MEDV', axis=1),
                                                   df['MEDV'],
                                                   test_size=0.2,
                                                   random_state = random_seed)

In [12]:
df.shape

(506, 14)

In [15]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
203,0.03510,95.0,2.68,0.0,0.4161,7.853,33.2,5.1180,4.0,224.0,14.7,392.78,3.81
441,9.72418,0.0,18.10,0.0,0.7400,6.406,97.2,2.0651,24.0,666.0,20.2,385.96,19.52
172,0.13914,0.0,4.05,0.0,0.5100,5.572,88.5,2.5961,5.0,296.0,16.6,396.90,14.69
95,0.12204,0.0,2.89,0.0,0.4450,6.625,57.8,3.4952,2.0,276.0,18.0,357.98,6.65
54,0.01360,75.0,4.00,0.0,0.4100,5.888,47.6,7.3197,3.0,469.0,21.1,396.90,14.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.08187,0.0,2.89,0.0,0.4450,7.820,36.9,3.4952,2.0,276.0,18.0,393.53,3.57
476,4.87141,0.0,18.10,0.0,0.6140,6.484,93.6,2.3053,24.0,666.0,20.2,396.21,18.68
322,0.35114,0.0,7.38,0.0,0.4930,6.041,49.9,4.7211,5.0,287.0,19.6,396.90,7.70
382,9.18702,0.0,18.10,0.0,0.7000,5.536,100.0,1.5804,24.0,666.0,20.2,396.90,23.60
365,4.55587,0.0,18.10,0.0,0.7180,3.561,87.9,1.6132,24.0,666.0,20.2,354.70,7.12

In [16]:
# модель линейной регрессии
model = LinearRegression()

In [17]:
# обучаем модель
model.fit(X_train, y_train)

LinearRegression()

In [19]:
# предсказываем значения для тестового сета
test_prediction = model.predict(X_test)

In [20]:
test_prediction

array([16.00330023, 27.79447431, 39.26769478, 18.32613556, 30.45487494,
       37.67724152, 25.28488162, 10.22712629, 14.82537224, 31.99311717,
       28.98969206, 19.17253244, 13.77310754, 31.69400164, 16.51057791,
       21.43127305, 20.36911404, 37.50141667, 18.10978575, 15.81266015,
       13.80299258, 24.48033748, 32.93389583, 39.42064642, 31.48120599,
       22.36455033, 17.60924332, 20.94828713, 23.4130816 , 20.38151773,
       25.79402412, 34.04473076, 15.11357401, 21.91097373, 24.05551144,
       34.58404676, 29.34099148, 18.2535874 , 13.95709552, 38.23179838,
       31.0049878 , 18.74606681, 19.72857941, 40.31936227,  8.19674997,
       27.30047872, 19.28830095, 25.58425976, 15.4961129 , 25.86694355,
       34.87324014, 24.25453569, 19.61772711, 12.47561892, 24.42804102,
       17.9505124 ,  9.69615055,  2.3378285 , 31.80311538, 13.65050017,
       20.05798605, 22.5516387 , 20.0245067 , 17.85753966, 25.0631636 ,
       27.19590817, 25.97988145, 22.09920138, 24.66187205, 30.39210736,
       20.40773803, 28.56421717, 15.32650231, 24.51102542, 19.64891977,
       18.27221528, 17.81706469, 16.75705603, 28.93420488, -0.78820782,
       32.57992382, 12.60054661, 25.00158929, 20.99214682, 14.89253587,
       22.47495475, 18.27373166, 25.06851564, 19.28541015, 32.23198059,
       15.52270591, 34.59385958, 23.04873605, 25.32161122, 31.11752726,
       28.46497366, 19.01649172, 31.25083255, 26.61047872, 36.45595724,
       16.52414365, 16.62662097])

In [21]:
# предсказываем значения MEDV для всего df
medv_prediction = model.predict(df.drop('MEDV', axis=1))

In [22]:
df['MEDV_prediction'] = medv_prediction

In [23]:
df[['MEDV', 'MEDV_prediction']]

     MEDV  MEDV_prediction
0    24.0        29.965569
1    21.6        25.045095
2    34.7        31.112143
3    33.4        28.988946
4    36.2        28.337465
..    ...              ...
501  22.4        23.983231
502  20.6        22.551639
503  23.9        28.268298
504  22.0        26.694818
505  11.9        22.514085

[506 rows x 2 columns]